package model

import "youlai-gin/pkg/common"

#set($useTypes = false)
#foreach($fieldConfig in $fieldConfigsInQuery)
#if($fieldConfig.queryType != "BETWEEN" and $fieldConfig.goType == "types.BigInt")
#set($useTypes = true)
#end
#end
#if($useTypes)
import "youlai-gin/pkg/types"
#end

type ${entityName}Query struct {
	common.BaseQuery
#foreach($fieldConfig in $fieldConfigsInQuery)
	${fieldConfig.goFieldName} #if($fieldConfig.queryType == "BETWEEN")[]string#elseif($fieldConfig.queryType == "IN")[]${fieldConfig.goType}#else${fieldConfig.goType}#end `form:"${fieldConfig.fieldName}"`#if($fieldConfig.fieldComment.trim() != "") // ${fieldConfig.fieldComment}#end
#end
}
