package model

#set($useTypes = false)#foreach($fieldConfig in $fieldConfigs)#if($fieldConfig.isShowInForm == 1 and $fieldConfig.goType == "types.BigInt")#set($useTypes = true)#end#end
#if($useTypes)
import "youlai-gin/pkg/types"
#end

type ${entityName}Form struct {#foreach($fieldConfig in $fieldConfigsInForm)
	${fieldConfig.goFieldName} ${fieldConfig.goType} `json:"${fieldConfig.fieldName}"#if($fieldConfig.isRequired == 1) binding:"required"#end`#if($fieldConfig.fieldComment.trim() != "") // ${fieldConfig.fieldComment}#end
#end}
